<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="{{ url_for('static', filename='app.js') }}" defer></script>
  <link rel="shortcut icon" href="{{ url_for('static', filename='iconis.svg') }}" type="image/x-icon">
  <title>Iconis | Voice Assistant</title>
</head>

<body id="body">
  <div id="div">
    <span id="mic">
      <i class="fas fa-microphone-alt fa-20x" onclick=record() style="color: white;"></i>
    </span>
    <span id="on" class="disable">
      <div class="dot blue"></div>
      <div class="dot red"></div>
      <div class="dot yellow"></div>
      <div class="dot green"></div>
    </span>
  </div>

  <script>
    function record() {
      var recognization = new webkitSpeechRecognition();
      recognization.lang = 'en-US';
      recognization.onresult = function (event) {
        console.log(event);
        var url = "/" + event.results[0][0].transcript;

        var xhr = new XMLHttpRequest();
        xhr.open("GET", url);

        xhr.setRequestHeader("Accept", "application/json");

        xhr.onreadystatechange = function () {
          if (xhr.readyState === 4) {
            console.log(xhr.status);
            console.log(xhr.responseText);
          }
        };

        xhr.send();
        recognization.stop();
      }
      recognization.start();
    }
  </script>
</body>

</html>